.songs-list {
    margin-top: 55px;
    .song {
        box-sizing: border-box;
        width: calc(50% - 10px);
        float: left;
        background: $color-silver;
        padding: 15px;
        margin: 10px 5px;
        height: 240px;
        max-height: 240px;
        overflow: hidden;
        .cover {
            width: 100%;
        }
        .artist {
            font-weight: bold;
            margin-top: 10px;
        }
        .title {
            margin-top: 5px;
        }
    }

}