body {
    background: $color-less-is-less;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $main-text-color;

    @include if-mobile-landscape {
        background: $color-amazing-39;
    }

    @include if-tablet-portrait {
        background: $color-sidonia-orange;
    }

    @include if-tablet-landscape {
        background: $color-grastur;
    }

}